---
import SectionTitle from "@components/SectionTitle.astro";
import Skills from "@components/Skills.astro";
---

<section
  id="about"
  class="relative mt-20 flex flex-col items-center justify-center"
>
  <SectionTitle title1="About" title2="Me" />
  <svg
    class="h-72 w-72 -translate-y-32 sm:mt-12 sm:h-max sm:w-max sm:translate-y-0"
    width="775"
    height="228"
    viewBox="0 0 775 228"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M688.12 52.28C687.587 52.28 687.173 52.1333 686.88 51.84C686.613 51.52 686.48 51.0933 686.48 50.56V25.24C686.48 24.68 686.613 24.2533 686.88 23.96C687.173 23.6667 687.587 23.52 688.12 23.52C688.653 23.52 689.053 23.6667 689.32 23.96C689.613 24.2533 689.76 24.68 689.76 25.24V36.28H706.68V25.24C706.68 24.68 706.813 24.2533 707.08 23.96C707.373 23.6667 707.787 23.52 708.32 23.52C708.853 23.52 709.253 23.6667 709.52 23.96C709.813 24.2533 709.96 24.68 709.96 25.24V50.56C709.96 51.0933 709.813 51.52 709.52 51.84C709.253 52.1333 708.853 52.28 708.32 52.28C707.787 52.28 707.373 52.1333 707.08 51.84C706.813 51.52 706.68 51.0933 706.68 50.56V39.12H689.76V50.56C689.76 51.0933 689.627 51.52 689.36 51.84C689.093 52.1333 688.68 52.28 688.12 52.28ZM724.55 52.36C722.656 52.36 721.016 51.9467 719.63 51.12C718.243 50.2933 717.163 49.1333 716.39 47.64C715.643 46.12 715.27 44.3333 715.27 42.28C715.27 40.7333 715.483 39.3467 715.91 38.12C716.336 36.8667 716.963 35.8 717.79 34.92C718.616 34.04 719.59 33.3733 720.71 32.92C721.856 32.44 723.136 32.2 724.55 32.2C726.443 32.2 728.083 32.6133 729.47 33.44C730.856 34.2667 731.923 35.44 732.67 36.96C733.443 38.4533 733.83 40.2267 733.83 42.28C733.83 43.8267 733.616 45.2133 733.19 46.44C732.763 47.6667 732.136 48.7333 731.31 49.64C730.483 50.52 729.496 51.2 728.35 51.68C727.23 52.1333 725.963 52.36 724.55 52.36ZM724.55 49.76C725.75 49.76 726.803 49.4667 727.71 48.88C728.616 48.2933 729.31 47.44 729.79 46.32C730.296 45.2 730.55 43.8533 730.55 42.28C730.55 39.8533 730.003 38 728.91 36.72C727.843 35.44 726.39 34.8 724.55 34.8C723.323 34.8 722.256 35.0933 721.35 35.68C720.47 36.24 719.776 37.08 719.27 38.2C718.79 39.2933 718.55 40.6533 718.55 42.28C718.55 44.68 719.096 46.5333 720.19 47.84C721.283 49.12 722.736 49.76 724.55 49.76ZM744.616 52.36C742.696 52.36 741.23 51.7733 740.216 50.6C739.203 49.4267 738.696 47.7467 738.696 45.56V25.16C738.696 24.6267 738.83 24.2267 739.096 23.96C739.363 23.6667 739.763 23.52 740.296 23.52C740.803 23.52 741.203 23.6667 741.496 23.96C741.79 24.2267 741.936 24.6267 741.936 25.16V45.32C741.936 46.76 742.216 47.84 742.776 48.56C743.363 49.2533 744.216 49.6 745.336 49.6C745.576 49.6 745.79 49.5867 745.976 49.56C746.163 49.5333 746.35 49.52 746.536 49.52C746.83 49.4933 747.03 49.56 747.136 49.72C747.27 49.88 747.336 50.2 747.336 50.68C747.336 51.16 747.23 51.52 747.016 51.76C746.803 52 746.456 52.16 745.976 52.24C745.763 52.2667 745.536 52.2933 745.296 52.32C745.056 52.3467 744.83 52.36 744.616 52.36ZM756.652 52.36C755.319 52.36 754.119 52.1067 753.052 51.6C752.012 51.0667 751.186 50.3467 750.572 49.44C749.959 48.5333 749.652 47.52 749.652 46.4C749.652 44.96 750.012 43.8267 750.732 43C751.479 42.1733 752.692 41.5867 754.372 41.24C756.079 40.8933 758.399 40.72 761.332 40.72H763.132V42.84H761.372C759.212 42.84 757.506 42.9467 756.252 43.16C755.026 43.3467 754.159 43.68 753.652 44.16C753.172 44.64 752.932 45.32 752.932 46.2C752.932 47.2933 753.306 48.1867 754.052 48.88C754.826 49.5733 755.866 49.92 757.172 49.92C758.239 49.92 759.172 49.6667 759.972 49.16C760.799 48.6533 761.439 47.96 761.892 47.08C762.372 46.2 762.612 45.1867 762.612 44.04V39.48C762.612 37.8267 762.279 36.64 761.612 35.92C760.946 35.1733 759.852 34.8 758.332 34.8C757.399 34.8 756.466 34.92 755.532 35.16C754.599 35.4 753.612 35.7867 752.572 36.32C752.199 36.5067 751.879 36.5733 751.612 36.52C751.346 36.44 751.132 36.2933 750.972 36.08C750.812 35.8667 750.719 35.6267 750.692 35.36C750.666 35.0667 750.719 34.7867 750.852 34.52C751.012 34.2533 751.252 34.04 751.572 33.88C752.746 33.2933 753.906 32.8667 755.052 32.6C756.199 32.3333 757.292 32.2 758.332 32.2C760.012 32.2 761.399 32.48 762.492 33.04C763.586 33.5733 764.399 34.4 764.932 35.52C765.466 36.6133 765.732 38.0267 765.732 39.76V50.6C765.732 51.1333 765.599 51.5467 765.332 51.84C765.092 52.1333 764.732 52.28 764.252 52.28C763.746 52.28 763.359 52.1333 763.092 51.84C762.826 51.5467 762.692 51.1333 762.692 50.6V47.48H763.052C762.839 48.4933 762.426 49.36 761.812 50.08C761.226 50.8 760.492 51.36 759.612 51.76C758.732 52.16 757.746 52.36 756.652 52.36Z"
      fill="#9A9A9A"></path>
    <path
      d="M32.04 127.86H74.28V139.26H32.04V127.86ZM72.6 114.6H87.6V153H72.6V114.6ZM19.2 114.6H34.2V153H19.2V114.6ZM138.076 142.44H152.236C151.876 144.76 150.716 146.78 148.756 148.5C146.836 150.22 144.016 151.56 140.296 152.52C136.616 153.44 131.916 153.9 126.196 153.9C120.156 153.9 114.936 153.42 110.536 152.46C106.176 151.5 102.816 149.88 100.456 147.6C98.0964 145.32 96.9164 142.24 96.9164 138.36C96.9164 134.52 98.0564 131.46 100.336 129.18C102.656 126.86 105.996 125.2 110.356 124.2C114.716 123.2 119.996 122.7 126.196 122.7C132.276 122.7 137.256 123.24 141.136 124.32C145.016 125.4 147.876 127.16 149.716 129.6C151.556 132 152.436 135.26 152.356 139.38H111.556C111.756 140.42 112.316 141.38 113.236 142.26C114.196 143.14 115.656 143.86 117.616 144.42C119.616 144.94 122.276 145.2 125.596 145.2C129.036 145.2 131.856 144.96 134.056 144.48C136.296 144 137.636 143.32 138.076 142.44ZM125.596 131.4C121.356 131.4 118.116 131.86 115.876 132.78C113.676 133.7 112.376 134.62 111.976 135.54H138.376C138.096 134.5 136.976 133.56 135.016 132.72C133.056 131.84 129.916 131.4 125.596 131.4ZM161.065 111.6H175.465V153H161.065V111.6ZM185.686 111.6H200.086V153H185.686V111.6ZM237.307 153.9C230.947 153.9 225.647 153.38 221.407 152.34C217.207 151.3 214.047 149.64 211.927 147.36C209.847 145.08 208.807 142.08 208.807 138.36C208.807 134.64 209.847 131.64 211.927 129.36C214.047 127.04 217.207 125.36 221.407 124.32C225.647 123.24 230.947 122.7 237.307 122.7C243.627 122.7 248.867 123.24 253.027 124.32C257.227 125.36 260.367 127.04 262.447 129.36C264.527 131.64 265.567 134.64 265.567 138.36C265.567 142.08 264.527 145.08 262.447 147.36C260.367 149.64 257.227 151.3 253.027 152.34C248.867 153.38 243.627 153.9 237.307 153.9ZM237.307 145.2C240.267 145.2 242.747 144.96 244.747 144.48C246.747 143.96 248.267 143.2 249.307 142.2C250.347 141.16 250.867 139.88 250.867 138.36C250.867 136.84 250.347 135.56 249.307 134.52C248.307 133.48 246.807 132.7 244.807 132.18C242.807 131.66 240.307 131.4 237.307 131.4C234.347 131.4 231.827 131.66 229.747 132.18C227.707 132.7 226.147 133.48 225.067 134.52C224.027 135.52 223.507 136.8 223.507 138.36C223.507 139.88 224.027 141.16 225.067 142.2C226.107 143.2 227.647 143.96 229.687 144.48C231.767 144.96 234.307 145.2 237.307 145.2Z"
      fill="#1C1B1B"></path>
    <path
      d="M18 180V37.2H131V180H100.8V62.4H48.2V180H18ZM225.423 68.8C237.69 68.8 247.623 73.6 255.223 83.2C262.823 92.6667 266.623 106.667 266.623 125.2C266.623 137.6 264.823 148.067 261.223 156.6C257.623 165 252.69 171.333 246.423 175.6C240.157 179.867 232.89 182 224.623 182C219.423 182 214.89 181.333 211.023 180C207.29 178.667 204.09 176.933 201.423 174.8C198.757 172.667 196.423 170.4 194.423 168H192.823C193.357 170.533 193.757 173.2 194.023 176C194.29 178.667 194.423 181.333 194.423 184V228H164.623V70.8H188.823L193.023 85H194.423C196.423 82.0667 198.823 79.4 201.623 77C204.423 74.4667 207.757 72.4667 211.623 71C215.623 69.5333 220.223 68.8 225.423 68.8ZM215.823 92.6C210.623 92.6 206.49 93.6667 203.423 95.8C200.357 97.9333 198.09 101.2 196.623 105.6C195.29 109.867 194.557 115.267 194.423 121.8V125C194.423 132.067 195.09 138.067 196.423 143C197.757 147.8 200.023 151.467 203.223 154C206.423 156.533 210.757 157.8 216.223 157.8C220.757 157.8 224.49 156.533 227.423 154C230.357 151.467 232.557 147.733 234.023 142.8C235.49 137.867 236.223 131.867 236.223 124.8C236.223 114.133 234.557 106.133 231.223 100.8C228.023 95.3333 222.89 92.6 215.823 92.6ZM319.986 114C319.986 116.267 319.853 119.067 319.586 122.4C319.453 125.733 319.253 129.133 318.986 132.6C318.853 136.067 318.653 139.133 318.386 141.8C318.119 144.467 317.919 146.333 317.786 147.4L368.186 70.8H403.986V180H375.186V136.4C375.186 132.8 375.319 128.867 375.586 124.6C375.853 120.2 376.119 116.133 376.386 112.4C376.786 108.533 377.053 105.6 377.186 103.6L326.986 180H291.186V70.8H319.986V114ZM531.931 99.4C531.931 105.267 530.065 110.267 526.331 114.4C522.731 118.533 517.331 121.2 510.131 122.4V123.2C517.731 124.133 523.798 126.733 528.331 131C532.998 135.267 535.331 140.733 535.331 147.4C535.331 152.067 534.398 156.4 532.531 160.4C530.798 164.4 527.998 167.867 524.131 170.8C520.265 173.733 515.265 176 509.131 177.6C503.131 179.2 495.798 180 487.131 180H435.131V70.8H487.131C495.665 70.8 503.265 71.7333 509.931 73.6C516.731 75.3333 522.065 78.2667 525.931 82.4C529.931 86.5333 531.931 92.2 531.931 99.4ZM504.531 145.8C504.531 141.533 502.865 138.467 499.531 136.6C496.198 134.6 491.198 133.6 484.531 133.6H464.931V159.4H485.131C490.731 159.4 495.331 158.4 498.931 156.4C502.665 154.267 504.531 150.733 504.531 145.8ZM501.731 101.8C501.731 98.3333 500.398 95.8 497.731 94.2C495.065 92.6 491.131 91.8 485.931 91.8H464.931V113.4H482.531C488.798 113.4 493.531 112.533 496.731 110.8C500.065 108.933 501.731 105.933 501.731 101.8ZM605.913 68.8C616.046 68.8 624.713 70.7333 631.913 74.6C639.246 78.4667 644.913 84.0667 648.913 91.4C652.913 98.7333 654.913 107.733 654.913 118.4V132.8H584.513C584.779 141.2 587.246 147.8 591.913 152.6C596.713 157.4 603.313 159.8 611.713 159.8C618.779 159.8 625.179 159.133 630.913 157.8C636.646 156.333 642.579 154.133 648.713 151.2V174.2C643.379 176.867 637.713 178.8 631.713 180C625.846 181.333 618.713 182 610.313 182C599.379 182 589.713 180 581.313 176C572.913 171.867 566.313 165.667 561.513 157.4C556.713 149.133 554.313 138.733 554.313 126.2C554.313 113.4 556.446 102.8 560.713 94.4C565.113 85.8667 571.179 79.4667 578.913 75.2C586.646 70.9333 595.646 68.8 605.913 68.8ZM606.113 90C600.379 90 595.579 91.8667 591.713 95.6C587.979 99.3333 585.779 105.133 585.113 113H626.913C626.913 108.6 626.113 104.667 624.513 101.2C623.046 97.7333 620.779 95 617.713 93C614.646 91 610.779 90 606.113 90ZM769.477 93.2H733.677V180H703.877V93.2H668.077V70.8H769.477V93.2Z"
      fill="#4A4A4A"
      fill-opacity="0.06"></path>
  </svg>

  <div class="flex -translate-y-48 sm:mt-4 sm:translate-y-0">
    <div
      class="mx-auto mt-4 flex max-w-xs flex-col gap-4 sm:max-w-3xl [&>p]:prose [&>p]:prose-lg sm:[&>p]:prose-xl"
    >
      <p class="">
        I am Iuliia <span class="decoratex">(i u l i i a)</span>, a New
        York-based UI/UX designer from Ukraine 🇺🇦.
        <p class="">
          My multidisciplinary background in investment banking and high-end
          interior design in New York dramatically benefits me as a UI/UX
          designer. I use my financial analysis and <b class="font-bold"
            >strategic decision-making skills</b
          > from investment banking to <b class="font-bold"
            >design financially viable user-centered designs.</b
          >
          <p>
            Furthermore, my experience in the interior design industry has given
            me a <b class="font-bold"
              >strong understanding of design principles</b
            >, allowing me to create
            <b class="font-bold"
              >visually appealing and easy-to-use interfaces</b
            >
            that meet customers' needs.
          </p>
          <p class="">
            Finally, my background in business strategy allows me to think about
            user experience design in the context of a larger company vision and
            goals, resulting in <b class="font-bold"
              >designs that align with the organization's overall strategy and
              drive revenue growth.</b
            >
          </p>
          <p>
            With my unique combination of skills and experience, I can bring a
            <b class="font-bold">holistic approach</b> to the design process and
            <b class="font-bold"
              >help drive business success by creating user-centric designs</b
            > that meet both customer needs and company objectives.
          </p>
        </p>
        <Skills />
      </p>
      <!-- <Image src={profile} alt="profile" class="bg-transparent" /> -->
    </div>

    <svg
      class="top-38 absolute right-12 -z-10 hidden sm:block"
      width="316"
      height="318"
      viewBox="0 0 316 318"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        opacity="0.5"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M221.266 301.253C191.385 312.62 158.464 323.729 128.292 314.134C98.8019 304.756 85.3936 273.107 64.0086 251.243C42.874 229.635 12.102 215.183 3.34675 186.389C-5.64283 156.824 5.35986 125.116 16.8196 96.0497C28.3294 66.8564 42.4025 36.6545 69.1592 19.4618C95.4128 2.59228 128.537 6.21759 159.659 4.26683C190.632 2.3254 223.32 -5.85081 250.638 8.08641C278.174 22.1346 294.436 50.74 306.094 78.9753C317.01 105.412 315.854 134.07 314.495 162.744C313.074 192.696 314.967 224.377 298.005 249.577C280.563 275.491 250.732 290.045 221.266 301.253Z"
        fill="#DBEAFE"></path>
    </svg>
  </div>

  <style>
    .decorate {
      position: relative;
      padding-right: 0.033px;
      white-space: nowrap;
    }

    .decorate::after {
      background-color: #985df6;
      content: " ";
      position: absolute;
      top: 0.2em;
      left: -0.2em;
      right: -0.2em;
      bottom: -0.2em;

      width: 100%;
      height: 100%;

      z-index: -10;
    }
  </style>
</section>
