---
import CopyToClipboard from "@components/CopyToClipboard.astro";
import { Sprite } from "astro-icon";

export interface Props {
  copyToClipboard?: boolean;
  primary?: boolean;
  class?: string;
}

const {
  copyToClipboard = false,
  primary = true,
  class: className,
} = Astro.props as Props;
---

{copyToClipboard && <CopyToClipboard />}

<a
  href="#work"
  class:list={[
    `rounded-sm ripple pl-6 pr-6 sm:px-12 py-3 sm:py-4 text-white bg-designsystem text-md sm:text-lg  sm:font-semibold cursor-pointer`,
    className,
  ]}
>
  See Projects {"  "}
  <Sprite
    class="inline animate-ping pl-1"
    pack="ic"
    name="round-arrow-downward"
    size={16}
  />
</a>

<style>
  .ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #000b95 radial-gradient(circle, transparent 1%, #000b95 1%)
      center/15000%;
  }
  .ripple:active {
    background-color: #000b95;
    background-size: 100%;
    transition: background 0s;
  }

  /* Button style */
  /* button {
    border: none;
    border-radius: 2px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
    box-shadow: 0 0 4px #999;
    outline: none;
  } */
</style>

<!-- <script>
  const buttons = document.querySelectorAll("button");
  buttons.forEach((btn) => {
    btn.addEventListener("click", function (e) {
      const x = e.clientX - this.offsetLeft;
      const y = e.clientY - this.offsetTop;
      const ripples = document.createElement("span");
      ripples.className =
        `left-[${x}px] top-[${y}px]` +
        " absolute bg-white -translate-x-1/2 -translate-y-1/2 rounded-full animate-ripple";
      this.appendChild(ripples);
      setTimeout(() => ripples.remove(), 1000);
    });
  });
</script> -->
