---
import CallToAction from "@components/CallToAction.astro";
import Seed from "@components/Seed.astro";
import site from "@src/data/site.js";
---

<section class="relative h-screen bg-secondary z-5 font-poppins">
  <div class="max-w-7xl mx-auto [&>*]:animate-fadeInUp">
    <h1
      class="pt-[30vh] [&>*]:animate-fadeInUp [&>*]:inline-block text-white text-4xl text-left sm:text-6xl md:text-[80px] font-extrabold sm: z-40 sm:max-w-3xl"
    >
      <span style="animation-delay:1s">Creative</span>
      <span style="animation-delay:1.4s">UI/UX</span>
      <span
        class="bg-gradient-to-r from-[#C0A40E] to-[#B7836B] bg-clip-text text-transparent pb-[0.7rem] pt-3"
        style="animation-delay:1.8s">Designer.</span
      >
    </h1>
    <p
      class="animate-fadeInUp sm:pt-8 sm:text-left text-sm sm:text-xl md:text-2xl text-gray-300 max-w-lg line-clamp-3"
      style="animation-delay:2s"
    >
      {site.description}
    </p>
    <p class="pt-2 sm:pt-16 z-50 animate-fadeInUp" style="animation-delay:2.2s">
      <CallToAction href={site.email}>Let's Chat!</CallToAction>
    </p>
    <!-- {
      Array.from(Array(10).keys()).map((seed, i) => (
        <Seed class="rotate-80 animate-ping fill-black" />
      ))
    } -->
    <svg
      class="absolute top-[40%] right-[43%] animate-ping"
      width="566"
      height="577"
      viewBox="0 0 566 577"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M547.84 132.843L545.521 132.222L540.421 130.855M540.421 130.855L536.375 134.828M540.421 130.855L532.753 130.727M540.421 130.855L535.553 129.551M540.421 130.855L534.018 126.008M540.421 130.855L534.8 123.087M540.421 130.855L537.861 122.589M540.421 130.855L535.812 120.281M540.421 130.855L537.546 119.279M540.421 130.855L538.476 118.48M540.421 130.855L534.756 140.885M540.421 130.855L533.541 140.626M540.421 130.855L531.308 136.12L538.79 131.381M540.421 130.855L538.79 131.381M540.421 130.855L528.364 134.127L538.79 131.381M540.421 130.855L530.014 131.679M540.421 130.855L532.482 122.466M540.421 130.855L536.77 120.653M540.421 130.855L531.794 140.501M540.421 130.855L534.927 128.179M540.421 130.855L533.478 136.122M540.421 130.855L536.395 123.524M540.421 130.855L550.158 133.464L553.172 134.271M537.158 131.907L538.79 131.381"
        stroke="#9AA6DA"
        stroke-width="0.5"></path>
      <path
        d="M426.119 221.703L424.125 222.632L419.738 224.677M419.738 224.677L419.319 230.027M419.738 224.677L414.308 229.171M419.738 224.677L415.551 226.628M419.738 224.677L412.335 224.935M419.738 224.677L411.113 222.314M419.738 224.677L412.948 220.115M419.738 224.677L410.12 219.64M419.738 224.677L410.724 217.863M419.738 224.677L410.89 216.717M419.738 224.677L421.855 235.461M419.738 224.677L420.85 235.997M419.738 224.677L416.564 234.011L418.918 226.041M419.738 224.677L418.918 226.041M419.738 224.677L413.302 234.304L418.918 226.041M419.738 224.677L412.972 231.512M419.738 224.677L409.119 223.243M419.738 224.677L411.014 219.341M419.738 224.677L419.555 236.951M419.738 224.677L414.283 225.991M419.738 224.677L418.08 232.715M419.738 224.677L412.49 221.681M419.738 224.677L428.113 220.773L430.706 219.565M418.097 227.405L418.918 226.041"
        stroke="#9AA6DA"
        stroke-width="0.5"></path>
      <path
        d="M502.413 97.7098L500.388 96.8485L495.935 94.9537M495.935 94.9537L491.676 98.2199M495.935 94.9537L488.962 93.9218M495.935 94.9537L491.684 93.145M495.935 94.9537L490.792 89.622M495.935 94.9537L491.924 86.9603M495.935 94.9537L494.786 86.8546M495.935 94.9537L493.248 84.434M495.935 94.9537L494.973 83.6954M495.935 94.9537L495.936 83.0522M495.935 94.9537L489.331 103.739M495.935 94.9537L488.261 103.351M495.935 94.9537L486.872 98.8357L494.372 95.2559M495.935 94.9537L494.372 95.2559M495.935 94.9537L484.473 96.6062L494.372 95.2559M495.935 94.9537L486.328 94.4937M495.935 94.9537L489.9 86.099M495.935 94.9537L494.068 84.8988M495.935 94.9537L486.686 103.025M495.935 94.9537L491.309 91.7768M495.935 94.9537L488.849 99.0959M495.935 94.9537L493.315 87.5614M495.935 94.9537L504.437 98.5711L507.069 99.6907M492.809 95.5582L494.372 95.2559"
        stroke="#9AA6DA"
        stroke-width="0.5"></path>
      <path
        d="M366.036 13.607L363.866 13.2425L359.093 12.4407M359.093 12.4407L355.716 16.6115M359.093 12.4407L352.073 13.0664M359.093 12.4407L354.537 11.6754M359.093 12.4407L352.847 8.4583M359.093 12.4407L353.326 5.60564M359.093 12.4407L356.084 4.83416M359.093 12.4407L354.023 2.83983M359.093 12.4407L355.528 1.71873M359.093 12.4407L356.314 0.868366M359.093 12.4407L354.725 22.526M359.093 12.4407L353.594 22.3981M359.093 12.4407L351.188 18.3329L357.644 13.0998M359.093 12.4407L357.644 13.0998M359.093 12.4407L348.335 16.7255L357.644 13.0998M359.093 12.4407L349.645 14.238M359.093 12.4407L351.156 5.2412M359.093 12.4407L354.929 3.10021M359.093 12.4407L351.986 22.4497M359.093 12.4407L353.854 10.4324M359.093 12.4407L353.171 18.1238M359.093 12.4407L354.819 5.86514M359.093 12.4407L368.206 13.9714L371.026 14.4452M356.195 13.7589L357.644 13.0998"
        stroke="#9AA6DA"
        stroke-width="0.5"></path>
      <path
        d="M305.667 201.724L306.288 199.613L307.656 194.97M307.656 194.97L303.919 191.118M307.656 194.97L307.874 187.925M307.656 194.97L308.961 190.538M307.656 194.97L312.357 189.245M307.656 194.97L315.132 190.062M307.656 194.97L315.568 192.893M307.656 194.97L317.794 191.086M307.656 194.97L318.727 192.713M307.656 194.97L319.477 193.596M307.656 194.97L298.165 189.427M307.656 194.97L298.428 188.319M307.656 194.97L302.752 186.417L307.175 193.453M307.656 194.97L307.175 193.453M307.656 194.97L304.689 183.777L307.175 193.453M307.656 194.97L307.002 185.375M307.656 194.97L315.753 187.952M307.656 194.97L317.427 191.954M307.656 194.97L298.569 186.717M307.656 194.97L310.276 190.009M307.656 194.97L302.722 188.411M307.656 194.97L314.695 191.513M307.656 194.97L305.045 203.834L304.238 206.578M306.694 191.935L307.175 193.453"
        stroke="#9AA6DA"
        stroke-width="0.5"></path>
      <path
        d="M5.12799 250.149L6.16694 248.21L8.45262 243.944M8.45262 243.944L5.58054 239.41M8.45262 243.944L10.1043 237.092M8.45262 243.944L10.6344 239.872M8.45262 243.944L14.2231 239.298M8.45262 243.944L16.7728 240.664M8.45262 243.944L16.622 243.525M8.45262 243.944L19.1705 242.209M8.45262 243.944L19.7518 243.993M8.45262 243.944L20.3063 245.01M8.45262 243.944L0.293171 236.581M8.45262 243.944L0.776028 235.55M8.45262 243.944L5.39706 234.57L8.29145 242.36M8.45262 243.944L8.29145 242.36M8.45262 243.944L7.83225 232.38L8.29145 242.36M8.45262 243.944L9.77028 234.417M8.45262 243.944L17.8118 238.725M8.45262 243.944L18.6342 242.985M8.45262 243.944L1.24107 234.01M8.45262 243.944L12.0307 239.621M8.45262 243.944L4.96105 236.516M8.45262 243.944L16.0497 241.996M8.45262 243.944L4.08905 252.089L2.73842 254.61M8.13028 240.776L8.29145 242.36"
        stroke="#9AA6DA"
        stroke-width="0.5"></path>
      <path
        d="M412.548 303.94V301.74V296.9M412.548 296.9L407.875 294.26M412.548 296.9L410.768 290.08M412.548 296.9V292.28M412.548 296.9L415.44 290.08M412.548 296.9L418.333 290.08M412.548 296.9L419.551 292.672M412.548 296.9L421.176 290.31M412.548 296.9L422.531 291.608M412.548 296.9L423.5 292.242M412.548 296.9L401.878 294.263M412.548 296.9L401.817 293.126M412.548 296.9L405.428 290.08L411.658 295.58M412.548 296.9L411.658 295.58M412.548 296.9L406.54 287L411.658 295.58M412.548 296.9L409.21 287.88M412.548 296.9L418.333 287.88M412.548 296.9L421.069 291.246M412.548 296.9L401.5 291.549M412.548 296.9L413.66 291.4M412.548 296.9L405.962 292.001M412.548 296.9L418.324 291.595M412.548 296.9V306.14V309M410.768 294.26L411.658 295.58"
        stroke="#9AA6DA"
        stroke-width="0.5"></path>
      <path
        d="M387.05 571.48V569.08V563.8M387.05 563.8L382.165 560.92M387.05 563.8L385.189 556.36M387.05 563.8V558.76M387.05 563.8L390.074 556.36M387.05 563.8L393.098 556.36M387.05 563.8L394.372 559.188M387.05 563.8L396.071 556.61M387.05 563.8L397.487 558.026M387.05 563.8L398.5 558.718M387.05 563.8L375.896 560.923M387.05 563.8L375.832 559.683M387.05 563.8L379.606 556.36L386.12 562.36M387.05 563.8L386.12 562.36M387.05 563.8L380.769 553L386.12 562.36M387.05 563.8L383.561 553.96M387.05 563.8L393.098 553.96M387.05 563.8L395.959 557.632M387.05 563.8L375.5 557.963M387.05 563.8L388.213 557.8M387.05 563.8L380.165 558.456M387.05 563.8L393.089 558.013M387.05 563.8V573.88V577M385.189 560.92L386.12 562.36"
        stroke="#9AA6DA"
        stroke-width="0.5"></path>
      <path
        d="M224.05 366.48V364.08V358.8M224.05 358.8L219.165 355.92M224.05 358.8L222.189 351.36M224.05 358.8V353.76M224.05 358.8L227.074 351.36M224.05 358.8L230.098 351.36M224.05 358.8L231.372 354.188M224.05 358.8L233.071 351.61M224.05 358.8L234.487 353.026M224.05 358.8L235.5 353.718M224.05 358.8L212.896 355.923M224.05 358.8L212.832 354.683M224.05 358.8L216.606 351.36L223.12 357.36M224.05 358.8L223.12 357.36M224.05 358.8L217.769 348L223.12 357.36M224.05 358.8L220.561 348.96M224.05 358.8L230.098 348.96M224.05 358.8L232.959 352.632M224.05 358.8L212.5 352.963M224.05 358.8L225.213 352.8M224.05 358.8L217.165 353.456M224.05 358.8L230.089 353.013M224.05 358.8V368.88V372M222.189 355.92L223.12 357.36"
        stroke="#9AA6DA"
        stroke-width="0.5"></path>
      <path
        d="M561.193 88.3306L559.288 86.8703L555.098 83.6577M555.098 83.6577L549.84 85.7821M555.098 83.6577L548.062 80.6076M555.098 83.6577L551.099 80.5911M555.098 83.6577L551.034 76.7309M555.098 83.6577L552.874 74.331M555.098 83.6577L555.893 75.0414M555.098 83.6577L554.881 72.1245M555.098 83.6577L556.867 71.862M555.098 83.6577L558.032 71.4792M555.098 83.6577L546.028 90.7593M555.098 83.6577L545.005 90.0556M555.098 83.6577L544.665 85.0382L553.389 83.5199M555.098 83.6577L553.389 83.5199M555.098 83.6577L542.706 82.0708L553.389 83.5199M555.098 83.6577L545.166 80.4396M555.098 83.6577L550.969 72.8707M555.098 83.6577L555.624 72.8347M555.098 83.6577L543.438 89.2721M555.098 83.6577L551.044 79.0839M555.098 83.6577L546.668 85.8699M555.098 83.6577L554.18 75.3439M555.098 83.6577L563.098 89.7909L565.574 91.6893M551.68 83.3822L553.389 83.5199"
        stroke="#9AA6DA"
        stroke-width="0.5"></path>
      <path
        d="M543.705 227.689L541.975 229.351L538.167 233.009M538.167 233.009L539.474 238.527M538.167 233.009L534.091 239.505M538.167 233.009L534.532 236.501M538.167 233.009L530.706 235.982M538.167 233.009L528.611 233.802M538.167 233.009L529.769 230.924M538.167 233.009L526.733 231.484M538.167 233.009L526.773 229.482M538.167 233.009L526.57 228.272M538.167 233.009L543.82 243.046M538.167 233.009L542.97 243.952M538.167 233.009L537.958 243.532L537.773 234.678M538.167 233.009L537.773 234.678M538.167 233.009L534.729 245.02L537.773 234.678M538.167 233.009L533.488 242.342M538.167 233.009L526.881 235.464M538.167 233.009L527.547 230.857M538.167 233.009L541.959 245.382M538.167 233.009L533.034 236.327M538.167 233.009L539.083 241.676M538.167 233.009L529.81 232.663M538.167 233.009L545.436 226.026L547.686 223.865M537.379 236.346L537.773 234.678"
        stroke="#9AA6DA"
        stroke-width="0.5"></path>
    </svg>

    <!-- <div class="absolute clip h-[180px]"></div> -->

    <!-- <button class="mt-16 bg-primary sm:text-xl text-secondary font-semibold"
      >iuliia.bakhtoiarova@gmail.com</button>-->
  </div>
</section>

<style>
  section::after {
    position: absolute;
    content: "";
    background-color: inherit;
    height: 180px;
    width: 100%;
    top: 95vh;
    transform: skewY(4deg);
    transform-origin: 100% 0;
    z-index: 5;
  }
</style>
