---
import type { Project } from "@src/types.js";
import { reverse } from "@src/utils.js";
import ProjectCard from "@components/ProjectCard.astro";
import SectionTitle from "@components/SectionTitle.astro";

// import { getProjects } from "@data/projects/index.js";

// import projects from "@data/projects.json";

const PROJECTS: Project[] = [
  {
    title: "Design System",
    tags: ["Web", "Mobile", "Figma", "TailwindCSS"],
    description:
      "Constructed a robust library of polished, production-ready reusable UI components with specifications and documentation as part of a scalable Design System.",
    image: {
      src: "images/design-system-showcase.mp4",
      alt: "designsystem",
    },
    url: {
      href: "/designsystem",
      text: "Learn more about the design system",
    },
    dateCreated: "1/23/2022",
    background: {
      src: "images/bg-mesh-grad-1.png",
      alt: "bg-mesh-1",
    },
  },
  {
    title: "Unicycle",
    tags: ["Mobile", "Figma", "Miro", "Illustrator"],
    description:
      "Here’s how we helped users of micro-mobility services more easily see available vehicles in their area and feel more comfortable on the roads.",
    image: {
      src: "images/unicycle-showcase.mp4",
      alt: "unicycle",
    },
    url: {
      href: "/unicycle",
      text: "Learn more about micro-mobility services",
    },
    dateCreated: "10/1/2022",
    background: {
      src: "images/bg-mesh-grad-1.png",
      alt: "bg-mesh-1",
    },
    disabled: true,
  },
  {
    title: "NYC Community Fridges",
    tags: ["Mobile", "Desktop", "Figma", "Miro", "FigJam"],
    description:
      "What’s in your fridge? We increased NYC community engagement by making food donations easy and convenient.",
    image: {
      src: "images/fridges-showcase.mp4",
      alt: "fridges",
    },
    url: {
      href: "/fridges",
      text: "Learn more about micro-mobility services",
    },
    dateCreated: "10/1/2022",
    background: {
      src: "images/bg-mesh-grad-2.png",
      alt: "bg-mesh-2",
    },
    disabled: true,
  },
  {
    title: "Jupo",
    tags: ["Mobile", "Figma", "Miro", "FigJam"],
    description:
      "Want to travel to space? We created a futuristic app for travelers to buy tickets and become informed about the preparation process, safety measures, and risks all in one place.",
    image: {
      src: "images/jupo-showcase.mp4",
      alt: "jupo",
    },
    url: {
      href: "/jupo",
      text: "Learn more about micro-mobility services",
    },
    dateCreated: "10/1/2022",
    background: {
      src: "images/bg-mesh-grad-3.png",
      alt: "bg-mesh-3",
    },
    disabled: true,
  },
];
---

<section class="bg-white relative">
  <div id="work" class="flex flex-col gap-64 mt-28">
    {
      PROJECTS.map((project, i) => (
        <div>
          <ProjectCard key={i} project={project} reverse={i % 2 === 0} />
        </div>
      ))
    }
  </div>
</section>
