---
import type { Project } from "@src/types.js";
import ProjectCard from "@components/ProjectCard.astro";
import SectionTitle from "@components/SectionTitle.astro";

const projects: Project[] = [
  {
    title: "Design System  ",
    tags: ["Web", "Mobile", "Figma", "TailwindCSS"],
    description:
      "Constructed a robust library of polished, production-ready, ADA-compliant, reusable UI components with specifications and documentation for Britannica Home Fashions Inc.",
    image: {
      src: "images/design-system-showcase.mp4",
      alt: "designsystem",
    },
    url: {
      href: "/designsystem",
      text: "Learn more about the design system",
    },
    dateCreated: "1/23/2022",
    background: {
      src: "images/bg-mesh-grad-1.png",
      alt: "bg-mesh-1",
    },
  },
  {
    title: "Unicycle",
    tags: ["Mobile", "Figma", "Miro", "Illustrator"],
    description:
      "Here’s how we helped users of micro-mobility services more easily see available vehicles in their area and feel more comfortable on the roads.",
    image: {
      src: "images/unicycle-showcase.mp4",
      alt: "unicycle",
    },
    url: {
      href: "https://www.figma.com/file/d4NGzC2Rnx5VCRIo6Pm9rX/Unicycle-Case-Study?node-id=0%3A1&t=KdM4l70YUQHccA83-0",
      text: "Learn more about micro-mobility services",
    },
    dateCreated: "10/1/2022",
    background: {
      src: "images/bg-mesh-grad-1.png",
      alt: "bg-mesh-1",
    },
    disabled: false,
  },

  {
    title: "Jupo",
    tags: ["Mobile", "Figma", "Miro", "FigJam"],
    description:
      "Want to travel to space? We created a futuristic app for travelers to buy tickets and become informed about the preparation process, safety measures, and risks all in one place.",
    image: {
      src: "images/jupo-showcase.mp4",
      alt: "jupo",
    },
    url: {
      href: "https://www.figma.com/file/gYbW62NSt4eessEW8oiga8/Jupo-Case-Studyo",
      text: "Learn more about micro-mobility services",
    },
    dateCreated: "10/1/2022",
    background: {
      src: "images/bg-mesh-grad-3.png",
      alt: "bg-mesh-3",
    },
    disabled: false,
  },
  {
    title: " Community Fridges",
    tags: ["Mobile", "Desktop", "Figma", "Miro", "FigJam"],
    description:
      "What’s in your fridge? We increased NYC community engagement by making food donations easy and convenient.",
    image: {
      src: "images/fridges-showcase.mp4",
      alt: "fridges",
    },
    url: {
      href: "/fridges",
      text: "Learn more about micro-mobility services",
    },
    dateCreated: "10/1/2022",
    background: {
      src: "images/bg-mesh-grad-2.png",
      alt: "bg-mesh-2",
    },
    disabled: true,
  },
];
---

<section
  id="work"
  class="relative flex -translate-y-40 flex-col items-center justify-center"
>
  <SectionTitle title1="Featured" title2="Work" />
  <div class="mx-auto mt-12 flex max-w-7xl flex-col gap-24 sm:gap-36">
    {
      projects.map((project, i) => (
        <div>
          <ProjectCard key={i} project={project} reverse={i % 2 === 0} />
        </div>
      ))
    }
  </div>
</section>
