---
interface Props {
  title1: string;
  title2: string;
  alternate?: boolean;
  class?: string;
}

const {
  title1,
  title2,
  alternate = true,
  class: className,
} = Astro.props as Props;
---

<h1
  class:list={[
    !alternate ? "text-white" : "text-inherit",
    "my-16 font-syne text-2xl font-bold sm:my-28 sm:text-4xl",
  ]}
>
  {title1}
  <span class:list={!alternate ? "text-white" : "text-designsystem"}
    >{title2}</span
  >
</h1>
