---
interface Props {
  class?: string;
}

const { class: className } = Astro.props as Props;
---

<div class:list={[className, "rotate-180"]}>
  <svg
    width="23"
    height="23"
    viewBox="0 0 23 23"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M11.5478 17.94V15.74V10.9M11.5478 10.9L6.8751 8.26M11.5478 10.9L9.76771 4.08M11.5478 10.9V6.28M11.5478 10.9L14.4404 4.08M11.5478 10.9L17.333 4.08M11.5478 10.9L18.5508 6.67239M11.5478 10.9L20.1762 4.30959M11.5478 10.9L21.531 5.60757M11.5478 10.9L22.4998 6.24183M11.5478 10.9L0.878245 8.26285M11.5478 10.9L0.816995 7.12606M11.5478 10.9L4.4275 4.08L10.6577 9.58M11.5478 10.9L10.6577 9.58M11.5478 10.9L5.54005 1L10.6577 9.58M11.5478 10.9L8.21015 1.88M11.5478 10.9L17.333 1.88M11.5478 10.9L20.0694 5.24614M11.5478 10.9L0.499817 5.54929M11.5478 10.9L12.6603 5.4M11.5478 10.9L4.9623 6.00148M11.5478 10.9L17.3244 5.59536M11.5478 10.9V20.14V23M9.76771 8.26L10.6577 9.58"
      stroke="#9AA6DA"
      stroke-width="0.5"></path>
  </svg>
</div>
