---
import SectionTitle from "@components/SectionTitle.astro";
import SkillItem from "@components/SkillItem.astro";

const SKILLS: string[] = [
  "Wireframing",
  "User Testing",
  "Ideation",
  "User Flow",
  "Micro-Interactions",
  "Prototyping",
  "CSS & HTML",
  "Animation",
  "TailwindCSS",
  "Storybook",
  "Design Systems",
  "User-Centric Design",
  "Research",
  "Informational Architecture",
  "Strategy & Design",
  "Mobile App & Web Design",
  "Accessibility",
  "Usability Studies",
  "User Interface Development",
  "User Experience Design",
];

const DURATION: number = 15000;
const ROWS: number = 4;
const ITEMS_PER_ROW: number = 6;

const shuffle = (arr) => [...arr].sort( () => .5 - Math.random() );
---

<section class="pt-[26rem]">
  <SectionTitle title="SKILLS" />
  <!-- <div class="flex w-full pt-40 ml-[20rem] gap-2 flex-wrap">
    {
      skills.map((skill) => (
        <div class="border-2  border-gray-400 py-4 px-12">{skill}</div>
      ))
    }
  </div> -->
  <div
    class="grid grid-flow-col auto-cols-max overflow-x-auto overscroll-x-contain py-40 gap-2 place-items-center snap-x snap-mandatory"
  >
    {SKILLS.map((skill) => <SkillItem skill={skill} class="snap-start" />)}
  </div>
</section>



