---
import SectionTitle from "../SectionTitle.astro";
import { Image } from "@astrojs/image/components";
import { getImage } from "@astrojs/image";
import Section from "@components/Section.astro";

const image = await getImage({
  src: "public/images/unicycle-affinity.jpg",
  width: 1800,
  height: 800,
  aspectRatio: 16 / 9,
  format: "jpeg",
  alt: "affinity",
});
---

<Section id="affinity-diagram">
  <SectionTitle title1="Research Analysis/" title2="Affinity Diagram" />
  <Image src={image} class="mt-12 overflow-visible rounded-sm" />
</Section>
