---
import { getImage } from "@astrojs/image";
import { Image } from "@astrojs/image/components";

const hero = await getImage({
  src: "public/images/unicycle-hero.png",
  width: 1812,
  height: 1000,
  aspectRatio: 16 / 9,
  format: "jpeg",
  alt: "hero",
});
---

<section
  class="relative flex h-screen animate-fadeInLeft flex-col items-center justify-center"
>
  <div class="flex flex-col items-end gap-3">
    <h1 class="max-w-4xl text-right font-syne text-6xl font-extrabold">
      MICRO-MOBILITY<p class="text-designsystem">SERVICES</p>
    </h1>
    <p class="text-2xl font-medium">Unicycle</p>
  </div>
  <div class="absolute bottom-20 flex flex-row gap-12">
    <div class="flex items-center justify-center">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="8" cy="8.5" r="8" fill="#FCD34D"></circle>
      </svg>
      <h4 class="ml-5 text-gray-500">
        Where <p class="font-semibold text-gray-800">New York, NY</p>
      </h4>
    </div>
    <div class="flex items-center justify-center">
      <svg
        width="16"
        height="17"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="8" cy="8.5" r="8" fill="#00BF81"></circle>
      </svg>
      <h4 class="ml-5 text-gray-500">
        Role <p class="font-semibold text-gray-800">Product Designer</p>
      </h4>
    </div>

    <div class="flex items-center justify-center">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="8" cy="8.5" r="8" fill="#C084FC"></circle>
      </svg>

      <h4 class="ml-5 text-gray-500">
        Tools <p class="font-semibold text-gray-800">Figma, Miro, Adobe CC</p>
      </h4>
    </div>
    <div class="flex items-center justify-center">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="8" cy="8.5" r="8" fill="#4F75FF"></circle>
      </svg>

      <h4 class="ml-5 text-gray-500">
        Team <p class="font-semibold text-gray-800">Iuliia, Sophie & Grace</p>
      </h4>
    </div>
  </div>
  <svg
    class="absolute top-2 z-30"
    width="715"
    height="227"
    viewBox="0 0 715 227"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M683.484 52.0312C663.09 93.3662 639.183 137.386 597.134 156.457C556.036 175.098 509.466 154.118 464.326 151.433C419.714 148.78 372.078 163.212 333.393 140.77C293.673 117.727 273.158 72.903 255.822 30.4747C238.41 -12.1384 222.713 -58.3335 233.832 -102.892C244.741 -146.612 283.869 -174.981 315.178 -207.397C346.336 -239.658 372.981 -280.296 416.398 -291.917C460.16 -303.631 506.684 -288.704 547.906 -269.69C586.502 -251.888 614.445 -219.938 642.188 -187.771C671.166 -154.171 705.449 -121.937 712.962 -78.3093C720.689 -33.4433 703.594 11.2702 683.484 52.0312Z"
      fill="#DBEAFE"></path>
    <path
      opacity="0.5"
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M323.768 202.543C280.035 219.178 231.854 235.437 187.695 221.394C144.535 207.668 124.911 161.349 93.6127 129.349C62.6812 97.7248 17.6447 76.5735 4.83089 34.4321C-8.32586 -8.83732 7.7772 -55.2434 24.5492 -97.7841C41.3943 -140.51 61.9912 -184.712 101.151 -209.875C139.575 -234.564 188.054 -229.258 233.603 -232.113C278.933 -234.955 326.774 -246.921 366.756 -226.523C407.056 -205.963 430.856 -164.097 447.918 -122.774C463.893 -84.0815 462.202 -42.14 460.213 -0.173321C458.134 43.6622 460.904 90.0304 436.08 126.911C410.552 164.838 366.893 186.138 323.768 202.543Z"
      fill="#DBEAFE"></path>
  </svg>
  <!-- <svg
    class="absolute top-24 -right-4 -z-10"
    width="480"
    height="432"
    viewBox="0 0 480 432"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M563.359 287.395C546.574 321.414 526.899 357.642 492.293 373.339C458.468 388.68 420.141 371.413 382.991 369.204C346.275 367.02 307.071 378.897 275.233 360.427C242.543 341.463 225.659 304.573 211.391 269.654C197.061 234.584 184.143 196.565 193.293 159.893C202.272 123.911 234.474 100.564 260.241 73.8851C285.885 47.3344 307.814 13.8891 343.546 4.3249C379.562 -5.31552 417.852 6.96915 451.777 22.6173C483.542 37.269 506.54 63.5638 529.372 90.0375C553.221 117.69 581.436 144.219 587.619 180.125C593.978 217.05 579.91 253.849 563.359 287.395Z"
      fill="#BFDBFE"></path>
    <path
      opacity="0.5"
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M267.312 411.263C231.319 424.954 191.666 438.335 155.323 426.778C119.802 415.481 103.652 377.36 77.8931 351.024C52.4364 324.997 15.3711 307.59 4.82535 272.907C-6.0027 237.296 7.25016 199.104 21.0536 164.093C34.9172 128.929 51.8685 92.5506 84.0971 71.8418C115.72 51.5223 155.618 55.889 193.105 53.5393C230.412 51.2008 269.786 41.3525 302.691 58.14C335.858 75.0612 355.445 109.517 369.488 143.526C382.636 175.37 381.244 209.888 379.606 244.427C377.896 280.504 380.175 318.665 359.745 349.018C338.735 380.232 302.804 397.762 267.312 411.263Z"
      fill="#BFDBFE"></path>
  </svg> -->
</section>
<Image src={hero} alt="hero" class="my-12 rounded-sm" />
