---
import SectionTitle from "../SectionTitle.astro";
import Section from "@components/Section.astro";
import { getImage } from "@astrojs/image";
import { Image } from "@astrojs/image/components";

const image = await getImage({
  src: "/images/unicycle-low-fidelity.jpg",
  width: 1800,
  height: 1000,
  aspectRatio: 16 / 9,
  format: "jpeg",
  alt: "lowfidelity",
});
---

<Section id="low-fidelity" alternate={false} class="">
  <SectionTitle title1="Low/Mid Fidelity" title2="Wireframes" />
  <Image src={image} />
</Section>
