---
import { Sprite } from "astro-icon";
import BaseHead, { Props as BaseHeadProps } from "@components/BaseHead.astro";
import Header from "@components/Header.astro";

// import Footer from "@components/Footer.astro";

export interface Props extends BaseHeadProps {
  hero?: boolean;
  class?: string;
}

const { hero = false, class: className = "", ...head } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {...head} />
  </head>

  <body class="">
    <!-- Required ONCE per page as a parent of any <Sprite> components! Creates `<symbol>` for each icon -->
    <Sprite.Provider>
      <Header hero={hero} />

      <main class:list={[" z-0 ", className]}>
        <slot />
      </main>

      <!-- <Footer /> -->
    </Sprite.Provider>
  </body>
</html>
